// ----- Font-sizes-----
$fw-reg: 400;
$fw-bold: 700;
$fw-black: 900;

// ----- Colors-----

$black-color: #000;
$light-color: #fff;
$grey-color: #424551;
$storm-color: #787a80;
$ebony-color: #1e212c;
$primary-color: #ff5a30;
$athens-color: #f4f5f7;
$active-color: #fc3300;

$grid-gap: 30px;


:root {
	--hero-slider-speed: 1000;
	--mission-gap: 94px;
	--grid-gap: 30px;
}
