.mission {
	padding-top: 120px;
	background-color: $light-color;

	@include tablet {
		padding-top: 20px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: calc(var(--mission-gap) * 2);
		margin-bottom: 26px;

		@include mobile {
			display: block;
		}

		@include laptop {
			--mission-gap: 30px;
		}

		@include tablet {
			--mission-gap: 10px;
		}
	}

	&__list-item {
		position: relative;
		padding-top: 71px;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 48px 48px;
		text-align: center;

		&:not(:last-child) {
			&::after {
				content: "";
				position: absolute;
				right: calc(var(--mission-gap) * -1);
				top: 0;
				width: 1px;
				height: 100%;
				background-image: url(../images/divider.png);
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			@include mobile {
				margin-bottom: 30px;
			}
		}

		&--quality {
			background-image: url(../images/quality.svg);
		}
		&--safety {
			background-image: url(../images/safety.svg);
		}
		&--comfort {
			background-image: url(../images/comfort.svg);
		}
	}

	&__subtitle {
		font-weight: $fw-bold;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 10px;
		color: $ebony-color;
	}

	&__description {
		font-size: 16px;
		line-height: 160%;
		color: $storm-color;
	}
}

.know-form {
	position: relative;
	top: 92px;
	padding: 48px;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
		0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
	background-color: $light-color;

	@include mobile {
		top: 0;
		padding: 10px 15px;
	}

	&__title {
		margin: 0 auto;
		margin-bottom: 33px;
		font-weight: $fw-bold;
		line-height: 150%;
		color: $ebony-color;
	}

	&__content {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		@include mobile {
			display: block;
		}

		@include laptop {
			flex-wrap: wrap;

			& > * {
				flex-grow: initial;
				width: 49%;
				margin-bottom: 20px;
			}

			.form-field__input {
				width: 100%;
			}
		}
	}

	&__field {
		margin-right: 24px;

		@include laptop {
			margin-right: 0;
		}

		@include mobile {
			width: 100%;
		}
	}
	&__btn {
		padding: 11px 29px;
	}
}
